In [ ]:
import pandas as pd
import numpy as np

# identifiers

In [ ]:
#identifiers (A Python identifier is a name used to identify a variable, function, class, module or other object. 
# An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores 
# and digits (0 to 9).)

abc=5

_abc=5

_1abc=5

Abc1=5

# wrong identifiers

1abc=5

%123=5

abc3@=5

# Variables

In [ ]:
# Variables (A Python variable is a reserved memory location to store values. 
# In other words, a variable in a python program gives data to the computer for processing. )
# In Python, variables are a storage placeholder for texts and numbers. It must have a name 
# so that you are able to find it again. The variable is always assigned with the equal sign, 
# followed by the value of the variable.

abc=5



# to delete variable
del abc

# Data types

In [ ]:
# Data types 
# Every value in Python has a datatype.
# Ex: int,float,string,list,tuple,dictionary etc.


a=5

print(type(a))

# to convert the data type from int into string
a=str(a)
print(type(a))

# Assigning a value to an identifier / variable.

In [ ]:
a = 12345

# Multiple Assignment
c=b=a
print(c)

# Arithmetic Operators

In [ ]:
+ Addition                  a + b = 30
- Subtraction               a – b = -10
* Multiplication            a * b = 200
/ Division                  b / a = 2
% Modulus                   b % a = 0
** Exponent                 a**b =10 to the power 20
//                          9//2 = 4 and 9.0//2.0 = 4.0

In [ ]:
a=10
b=20
a + b

In [ ]:
a - b

In [ ]:
a * b

In [ ]:
b / a

In [ ]:
b % a

In [ ]:
a**b

In [ ]:
9//2

# Comparison Operators

In [ ]:
==                       (a == b) is not true.
!=                       (a != b) is true.
>                        (a > b) is not true.
<                        (a < b) is true.
>=                       (a >= b) is not true.
<=                       (a <= b) is true.

In [ ]:
a==b

In [ ]:
a != b

In [ ]:
a > b

In [ ]:
a < b

In [ ]:
a >= b

In [ ]:
a <= b

# Assignment Operators

In [ ]:
=                     c = a + b assigns value of a + b into c
+=                    c = c + a
-=                    c = c - a
*=                    c = c * a
/=                    c = c / a
%=                    c = c % a
**=                   c = c ** a
//=                   c = c // a

In [ ]:
c= a+b
c

In [ ]:
c+=a
c

In [ ]:
c-=a
c

In [ ]:
c*=a
c

In [ ]:
c/=a
c

In [ ]:
c%=a
c

In [ ]:
c**=a
c

In [ ]:
c//=a

# identity operator

In [ ]:
is            x is y, here is results in 1 if id(x) equals id(y).
is not        x is not y, here is not results in 1 if id(x) is not equal to id(y).

In [ ]:
x=[1,2,3]
y=[1,2,3]

print(x is y)

In [ ]:
print(x[2] is not y[2])

# membership operators

In [ ]:
a=[1,2,3,4,5]

In [ ]:
in            5 in a
not in        5 not in a

In [ ]:
5 in a

In [ ]:
5 not in a

# Data types

# 1) integer

In [9]:
a=10

In [10]:
type(a)

int

# 2) float

In [11]:
b=1.5

In [12]:
type(b)

float

# 3)string

In [13]:
c='acd'

In [14]:
type(c)

str

# 4) list

# features :
* Values are enclosed by square brackets
* The values are changable
* Indexing is applicable on list
* Values can hold all data types of values

In [19]:
a=[1,2,3,4.5,'abc']

In [20]:
type(a)

list

# 5) tuple
* Values are enclosed by small brackets
* The values are not changable
* Indexing is applicable on tuple
* Values can hold all data types of values

In [17]:
b=(1,2,3.5,'def')

In [18]:
type(b)

tuple

# 6) dictionary

* Values are enclosed by flower brackets
* Each element is made up of an key an a value
* Key acts as index for the value
* The values are changeable
* Indexing is applicable on dictionary with help of the key
* Values can hold all data types of values
* key needs to be unique but values need not be unique

In [3]:
d={'a':1,2:'c',3.5:'d'}

In [4]:
type(d)

dict

# data type conversion

# list into tuple

In [24]:
a=[1,2,3]

tuple(a)
list(a)

[1, 2, 3]

# tuple to list

In [26]:
a=(1,2,3)

list(a)
tuple(a)

(1, 2, 3)

# convert integer into string

In [28]:
a=10

In [29]:
type(a)

int

In [31]:
a=str(a)
type(a)

str

# convert list to string

In [32]:
d=[1,2,3,4,5]
type(d)

list

In [33]:
d=str(d)

In [34]:
type(d)

str

# if statement

In [38]:
a=10

if a>=3:
    print('three is greater or equal to 3')

three is greater or equal to 3

# if else statement

In [35]:
b=10

if b==5:
    print('b is 5')
else:
    print('b is other value')

b is other value

# if elif else statement

In [40]:
a =10

if a==5:
    print('a is 5')
elif a>=10:
    print('a is greater than 10')
else:
    print('a is 10')

a is greater than 10

# nested if statement

# for loop

In [1]:
a=[1,2,3,4,5]

for i in a:
    print(i)

1
2
3
4
5

In [1]:
a=[1,2,3,4,5]
for i in a:
    if i>2:
        print(i)
        if i> 6:
            break

3
4
5

# for loop with string ,list, tuple ,dictionary and range function

In [4]:
a='abcdef'

for i in a:
    while i=='c':
        break
        print (i)
        i+=1

In [1]:
a=(1,2,3,4,5)

for i in a:
    if i%2==0:
        print(i)

2
4

In [2]:
a=(1,2,3,4,5)

for i in a:
    i=i+1
    print(i)

2
3
4
5
6

# list comprehension

In [4]:
a=[1,2,3,4,5]
b=[]


for i in a:
    b.append(2)
print(b)

[2, 2, 2, 2, 2]

In [ ]:
a=[1,2,3,4,5,6]
b=[2,3,5,6,7,8]


for i in a:
    for j in b:
        if i==j:
            print(i)

# while loop

In [5]:
a=5

while a==5:
    a=a/2.5
    print(a)

2.0

In [6]:
counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("outside loop")

Inside loop
Inside loop
Inside loop
outside loop

In [ ]:
var = 1
while var == 1 :  # This constructs an infinite loop
   num = input("Enter a number  :")
   print ("You entered: ", num)
else:
    print ("Good bye!")

In [2]:
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
    print("The sum is", sum)

The sum is 1
The sum is 3
The sum is 6
The sum is 10
The sum is 15
The sum is 21
The sum is 28
The sum is 36
The sum is 45
The sum is 55

## continue

In [3]:
a=[1,2,3,4,55,6]

for i in a:
    if i==4:
        continue
    print(i)

1
2
3
55
6

# pass

In [ ]:
a=[1,2,3,4,55,6]

for i in a:
    if i==4:
        pass
    print(i)

# functions
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

# creating and calling function

In [1]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

# required arguments

In [2]:
def my_function(fname):
  print(fname + " Refsnes")

my_function('a')

a Refsnes

# keyword arguments

In [9]:
def greet(name,msg):
  
   print("Hello",name + ', ' + msg)

greet("Monica","Good morning!")

Hello Monica, Good morning!

# default arguments

In [10]:
def greet(name, msg = "Good morning!"):

   print("Hello",name + ', ' + msg)

greet("Kate")
greet("Bruce",'hey')

Hello Kate, Good morning!
Hello Bruce, hey

# scope of variables

In [13]:
# This is a global variable
a = 10

def sum(a,b):
    #this is a local variable
    c=a+b
    return c


print(sum(2,3))

a+sum(2,5)

5

17

# lambda functions

In [1]:
x = lambda a : a + 10
print(x(5))

15

In [2]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
average=lambda a,b: (a+b) /2
print(average(10,100))

In [3]:
def myfunc(n):
  return lambda a : a * n

doubler = myfunc(2)
tripler = myfunc(3)

print(doubler(11)) 
print(tripler(11))

22
33

In [ ]:
def cube():
    g=lambda x: x*x*x 
    return g(7)

  
cube()

In [4]:
from functools import reduce
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]  
sum = reduce((lambda x, y: x + y), li) 
print (sum)

481

# Exceptions handling methods
Python has many built-in exceptions which forces your program to output an error when something in it goes wrong.

When these exceptions occur, it causes the current process to stop and passes it to the calling process until it is handled. If not handled, our program will crash.

For example, if function A calls function B which in turn calls function C and an exception occurs in function C. If it is not handled in C, the exception passes to B and then to A.

If never handled, an error message is spit out and our program come to a sudden, unexpected halt.

In [5]:
import sys

randomList = ['a','b',2,3,4,5]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        print('the reciprocal of entry',r)
        
    except:
        print("Oops!",sys.exc_info()[0],"occured.")
        print("Next entry.")
        print()
print("The reciprocal of",entry,"is",r)

The entry is a
Oops! <class 'ValueError'> occured.
Next entry.

The entry is b
Oops! <class 'ValueError'> occured.
Next entry.

The entry is 2
the reciprocal of entry 0.5
The entry is 3
the reciprocal of entry 0.3333333333333333
The entry is 4
the reciprocal of entry 0.25
The entry is 5
the reciprocal of entry 0.2
The reciprocal of 5 is 0.2

# raising exceptions

In [7]:
try:
    a = int(input("Enter a positive integer: "))
    if a <= 0:
        raise ValueError("That is not a positive number!")
except ValueError as e:
    print(e)

Enter a positive integer: -2
That is not a positive number!

In [ ]:
try:
   f=open('EnergyNewDataFrameForWard-Copy1.csv')
   # perform file operations
finally:
   f.close()

# regular expression methods
A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

In [4]:
import re

In [5]:
str = "The rain in Spain"
x = re.findall("ai", str)
print(x)

['ai', 'ai']

In [6]:
str = "The rain in Spain"
x = re.findall("Portugal", str)
print(x)

[]

In [7]:
str = "The rain in Spain"
x = re.search("Portugal", str)
print(x)

None

In [8]:
str = "The rain in Spain"
x = re.split("\s", str)
print(x)

['The', 'rain', 'in', 'Spain']

In [9]:
str = "The rain in Spain"
x = re.split("\s", str, 2)
print(x)

['The', 'rain', 'in Spain']

In [10]:
str = "The rain in Spain"
x = re.sub("\s", "9", str)
print(x)

The9rain9in9Spain

In [11]:
import re

str = "The rain in Spain"
x = re.sub("\s", "9", str, 2)
print(x)

The9rain9in Spain

In [12]:
p = re.compile('\d') 
print(p.findall("I went to him at 11 A.M. on 4th July 1886"))

['1', '1', '4', '1', '8', '8', '6']

In [13]:
p = re.compile('\w+') 
print(p.findall("He said * in some_lang."))

['He', 'said', 'in', 'some_lang']

In [16]:
p = re.compile('ab+') 
print(p.findall("ababbaabbb"))

['ab', 'abb', 'abbb']

In [17]:
str = 'an example word:cat!!'
match = re.search(r'word:\w\w\w', str)
# If-statement after search() tests if it succeeded
if match:
  print ('found', match.group()) ## 'found word:cat'
else:
  print ('did not find')

found word:cat

In [ ]:
#datetime module

In [5]:
#PANDAS
import pandas as pd
data=pd.read_excel(r'C:\Users\aswin\Desktop\HOSPITAL_ID\Hospital_id.xlsx')
data

                                                   name   id
0                                                   PHC  561
1                             Dr Raos Hospital Hospital  244
2                                      Medplus Hospital  497
3               Leena Multispeciality Hospital Hospital  446
4                             UFA World Clinic Hospital  868
5                                  KK Hospital Hospital  397
6                             Ashwini Hospital Hospital   76
7                             Apoorva Hospital Hospital   57
8                                 RWF Hospital Hospital  619
9                               Apple Hospital Hospital   60
10                      Nava Chethana Hospital Hospital  531
11                             Jeevan Hospital Hospital  387
12                     Shushrusha Nursing Home Hospital  736
13                        Spandana Health Care Hospital  759
14                   Mugalore ST John Hospital Hospital  508
15                             Janani Hospital Hospital  382
16                     Noble Diagnostic Center Hospital  553
17                         Balaji Nursing Home Hospital   91
18                         Roots Beauty Clinic Hospital  652
19                              Leela Hospital Hospital  445
20                       Manipal Northside Opd Hospital  479
21    Manipal Hospitals Out patient Department Hospital  478
22                              Nayak Hospital Hospital  538
23                    Shankar Eye Nursing Home Hospital  709
24                               Citi Hospital Hospital  159
25                        Pristine Diagnostics Hospital  607
26    Bruhat Bengaluru Mahanagara Palike Government ...  124
27                              Kaade Hospital Hospital  401
28    Shekars Skin Care And Cosmetology Clinic Hospital  716
29                 Dr Aravinds Diabetes Centre Hospital  219
...                                                 ...  ...
6970                                   Cloud 9 Hospital  161
6971                             CPWD Hospital Hospital  130
6972                Deseeya Ayurvedic Pharmacy Hospital  199
6973                       Dr Ranis ENT Clinic Hospital  243
6974                      Enhanced Health Care Hospital  271
6975                           Eye Vision Care Hospital  281
6976                         Lakeside Hospital Hospital  438
6977                                NM Medical Hospital  518
6978              Oases Nephro Dialysis Centre Hospital  555
6979                Sanagenomics Research Labs Hospital  680
6980             Slipped Disc Treatment Centre Hospital  747
6981                               Tapana Labs Hospital  849
6982                             Verifica Labz Hospital  895
6983                         The Apollo Clinic Hospital  854
6984           Guna Skin Hair And Laser Clinic Hospital  324
6985  Samprathi Eye Hospital and Squint Centre Hospital  678
6986                         Emend Health Care Hospital  269
6987                      Pragathi Dental Care Hospital  589
6988                            Tejas Hospital Hospital  852
6989                            Skandha Clinic Hospital  745
6990  Raja Rajeshwari Medical Collge and Hospital Ho...  625
6991                               HK Hospital Hospital  332
6992                   Pilus And Pstula Clinic Hospital  579
6993  Raja Rajeshwari Medical College and Hospital H...  624
6994      Chirayu Medical College and Hospital Hospital  155
6995             Elbit Medical Diagnostics Ltd Hospital  268
6996               Anand Diagnostic Laboratory Hospital   37
6997                       Veritas Diagnostics Hospital  896
6998    Ideal Nursing Home And Research Center Hospital  371
6999                City Hospital And Pharmacy Hospital  160

[7000 rows x 2 columns]

In [ ]:
#time module

In [9]:
data.head(4)

                                      name   id
0                                      PHC  561
1                Dr Raos Hospital Hospital  244
2                         Medplus Hospital  497
3  Leena Multispeciality Hospital Hospital  446
4                UFA World Clinic Hospital  868

In [11]:
data.tail(3)

                                                 name   id
6997                     Veritas Diagnostics Hospital  896
6998  Ideal Nursing Home And Research Center Hospital  371
6999              City Hospital And Pharmacy Hospital  160

In [12]:
data.describe()

                id
count  7000.000000
mean    464.582000
std     269.662644
min       0.000000
25%     233.750000
50%     459.500000
75%     698.250000
max     936.000000

In [14]:
data.columns

Index(['name', 'id'], dtype='object')

In [15]:
data.isnull().sum()

name    0
id      0
dtype: int64

In [16]:
data.isnull().values.any()

False

In [ ]:
data['id'].fillna

In [ ]:
# constant mathematical values from numpy

In [17]:
import pandas as pd
guns=pd.read_csv(r'C:\Users\aswin\Desktop\MATPLOTLIB\guns.csv')
guns.head()

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
0,1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,4.0
1,2,2012,1,Suicide,0,F,21.0,White,100,Street,3.0
2,3,2012,1,Suicide,0,M,60.0,White,100,Other specified,4.0
3,4,2012,2,Suicide,0,M,64.0,White,100,Home,4.0
4,5,2012,2,Suicide,0,M,31.0,White,100,Other specified,2.0

In [ ]:
#array indexing

In [ ]:
#array slicing

In [ ]:
#boolean array indexing

In [ ]:
identity oper, membership oper,bitwise oper, assosiative of operators, operatoe precedence, different ways to print output,  re,modules creation,exception handling,file handling,

In [ ]:
# pandas features

In [ ]:
#creating aa dataframe

In [ ]:
#pandas method

In [ ]:
#dataframe sorting

In [ ]:
#accessing dataframe elements

In [ ]:
# data mining functions

In [ ]:
#matplotlib

In [ ]:
# data science

In [ ]:
# whats statistics

In [ ]:
# descriptive statistics

In [ ]:
# central tendency

In [ ]:
# dispersion measures

In [ ]:
#probability

In [ ]:
# data distributions